.sport {
  position: relative;
  z-index: 3;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 220px;
}
.sport__title {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  margin: 0;
  color: var(--color-lightest);
  background-color: var(--color-accent);
  box-sizing: border-box;
  padding: 1px 10px 3px;
  position: absolute;
  bottom: 14px;
  left: 12px;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .sport {
    height: 162px;
  }
}
@media (max-width: 998px) {
  .sport__title {
    font-size: 14px;
  }
  .sport {
    height: 180px;
  }
}
@media (max-width: 694px) {
  .sport__title {
    font-size: 18px;
    padding: 2px 16px 4px;
    bottom: 20px;
    left: 20px;
  }
  .sport {
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 2rem;
  }
}
