.sport {
  position: relative;
  z-index: 3;
}
.sport__image {
  width: 100%;
  min-height: 162px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: bottom;
  border-radius: 16px;
}
.sport__title {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  margin: 0;
  color: var(--color-lightest);
  background-color: var(--color-accent);
  box-sizing: border-box;
  padding: 1px 10px 3px;
  position: absolute;
  bottom: 14px;
  left: 12px;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .sport__image {
    aspect-ratio: 4/3;
  }
}
@media (max-width: 998px) {
  .sport__title {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .sport__image {
    aspect-ratio: 16/9;
  }
  .sport__title {
    font-size: 18px;
    padding: 2px 16px 4px;
    bottom: 20px;
    left: 20px;
  }
  .sport {
    margin-bottom: 2rem;
  }
}
