@font-face {
  font-family: "Tilda Sans";
  src:
    local("Tilda Sans Regular"),
    local("Tilda-Sans-Regular"),
    url("./TildaSans-Regular.woff2") format("woff2"),
    url("./TildaSans-Regular.woff") format("woff"),
    url("./TildaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tilda Sans";
  src:
    local("Tilda Sans VF"),
    local("Tilda-Sans-VF"),
    url("./TildaSansVF.woff2") format("woff2"),
    url("./TildaSansVF.woff") format("woff"),
    url("./TildaSansVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bicubik";
  src: url("./Bicubik.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Russo One";
  src: url("./RussoOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
