.sports {
  box-sizing: border-box;
  padding: 20px var(--padding-horisontal) 60px;
  position: relative;
  background-color: var(--color-bg-light);
  background-image:
    url("/images/decor/sports/dumbbell.svg"),
    url("/images/decor/sports/kettlebell-bg.svg"),
    url("/images/decor/box-skew-left.svg"),
    url("/images/decor/box-skew-right.svg");
  background-size:
    120px 120px,
    102px 110px,
    92px 92px,
    92px 92px;
  background-position:
    65% 60px,
    -12px 45%,
    103% 60%,
    50% 95%;
  background-repeat: no-repeat;
}
.sports__item {
  border-radius: 16px;
  margin-bottom: 20px;
}
.sports__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.sports__container > *:nth-child(-n + 3) {
  grid-column: span 4;
}
.sports__container > *:nth-child(n + 4):nth-child(-n + 7) {
  grid-column: span 3;
}
.sports::before {
  content: url("/images/decor/sports/donut.svg");
  position: absolute;
  bottom: -40px;
  left: 40px;
  width: 128px;
  height: 128px;
  z-index: 2;
}
.sports::after {
  content: url("/images/decor/sports/kettlebell.svg");
  position: absolute;
  bottom: -2px;
  right: 10%;
  width: 78px;
  height: 84px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .sports {
    background-position:
      65% 60px,
      -12px 45%,
      105% 60%,
      50% 95%;
  }
}
@media (max-width: 998px) {
  .sports {
    background-position:
      70% 40px,
      -12px 45%,
      105% 60%,
      50% 98%;
  }
  .sports__container > *:nth-child(-n + 2) {
    grid-column: span 6;
  }
  .sports__container > *:nth-child(n + 3):nth-child(-n + 6) {
    grid-column: span 4;
  }
  .sports__container > *:nth-child(n + 6):nth-child(-n + 7) {
    grid-column: span 6;
  }
}
@media (max-width: 694px) {
  .sports__container {
    display: block;
  }
  .sports {
    background-position:
      90% 40px,
      -12px 45%,
      105% 60%,
      50% 99%;
    background-image:
      url("/images/decor/sports/dumbbell.svg"),
      url("/images/decor/sports/kettlebell-bg.svg"),
      url("/images/decor/box-skew-left.svg");
  }
  .sports::after {
    bottom: 20px;
    right: 10%;
  }
}
