.footer {
  background-color: var(--color-accent);
  color: var(--color-lightest);
  box-sizing: border-box;
  padding: var(--padding-vertical) var(--padding-horisontal) 60px;
  font-family: Tilda Sans;
}
.footer__container {
  display: grid;
  grid-template-columns: 3fr 1fr 300px;
  gap: 2rem;
}
.footer__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
}
.footer__address {
  font-style: normal;
  line-height: 1.5;
}
.footer__divider {
  border: 0.5px solid var(--color-lightest);
  opacity: 0.5;
  margin: 2rem 0 1rem;
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
}
.footer__legal {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer__column {
    flex-direction: row;
    width: 100%;
  }
  .footer__address {
    width: 50%;
  }
  .footer__legal {
    display: block;
    text-align: center;
  }
}
