.button {
  box-shadow: none;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: fit-content;
  font-family: Tilda Sans;
}
.button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.button_light {
  background-color: var(--color-lightest);
  color: var(--color-accent);
  border: none;
}
.button_accent {
  color: var(--color-lightest);
  background-color: var(--color-accent);
  border: none;
}
.buton_centered {
  display: block;
  margin: 0 auto;
}
.button:disabled {
  cursor: not-allowed;
}
.button_full-wide {
  width: 100%;
}
.button_wide {
  min-width: 180px;
}
.button_transparent {
  background-color: transparent;
  border: none;
  padding: 0;
}
@media (max-width: 768px) {
  .button {
    padding: 12px;
  }
  .button_full-wide-mobile {
    width: 100%;
    padding: 16px;
  }
  .button_transparent {
    padding: 0;
  }
}
