@font-face {
  font-family: "Tilda Sans";
  src:
    local("Tilda Sans Regular"),
    local("Tilda-Sans-Regular"),
    url("/fonts/TildaSans-Regular.woff2") format("woff2"),
    url("/fonts/TildaSans-Regular.woff") format("woff"),
    url("/fonts/TildaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src:
    local("Tilda Sans VF"),
    local("Tilda-Sans-VF"),
    url("/fonts/TildaSansVF.woff2") format("woff2"),
    url("/fonts/TildaSansVF.woff") format("woff"),
    url("/fonts/TildaSansVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bicubik";
  src: url("/fonts/Bicubik.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Russo One";
  src: url("/fonts/RussoOne-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}