.logo {
  display: flex;
  gap: 6px;
  max-width: 160px;
  width: fit-content;
}

.logo__caption {
  font-family: "Bicubik";
  font-weight: 400;
  line-height: 100%;
  max-width: 120px;
  align-self: center;
  line-height: 1;
  margin-top: auto;
}

.logo__caption_accent {
  color: var(--color-accent);
}

.logo__caption_light {
  color: var(--color-light);
}

.logo__caption_big {
  font-size: 20px;
}

.logo__caption_small {
  font-size: 10px;
}
