.hero {
  font-family: Tilda Sans;
  background-color: var(--color-accent);
  box-sizing: border-box;
  color: var(--color-lightest);
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -18px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -50px;
  background-image: url("/images/decor/bg-dekor.webp");
  background-repeat: repeat-x;
  background-size: 963px 159px;
  background-position: bottom;
  z-index: 2;
}

.hero__info {
  width: 40%;
  box-sizing: border-box;
  padding: 110px var(--padding-horisontal) 0;
}

.hero__media {
  display: block;
  width: 60%;
  position: relative;
}

.hero__img {
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

.hero__media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    270.18deg,
    rgba(254, 83, 135, 0) 33.54%,
    rgba(254, 83, 135, 0.730819) 68.59%,
    #fe5387 96.21%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:;
}

.hero__title {
  font-family: Russo One;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  z-index: 2;
  max-width: 556px;
  margin: 0 0 28px;
}

.hero__sport {
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.hero__subtitle {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.hero__delimiter {
  margin: 0 10px;
}

@media (max-width: 1280px) {
  .hero__info {
    width: 50%;
  }

  .hero__media {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .hero::after {
    bottom: -20px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 960px) {
  .hero__info {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__subtitle {
    white-space: normal;
  }
}

@media (max-width: 880px) {
  .hero {
    display: block;
    padding: 0;
  }

  .hero__title {
    max-width: 100%;
    white-space: normal;
    font-size: 36px;
  }

  .hero__info {
    width: 100%;
    padding: 80px var(--padding-horisontal) 40px;
  }

  .hero__media {
    width: 100%;
  }

  .hero__media::before {
    background-image: linear-gradient(
      0deg,
      rgba(254, 83, 135, 0) 33.54%,
      rgba(254, 83, 135, 0.730819) 68.59%,
      #fe5387 96.21%
    );
    background-size: 100% 100px;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 32px;
  }
}

@media (max-width: 540px) {
  .hero__title {
    font-size: 28px;
  }

  .hero__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 24px;
  }
}

@media (max-width: 420px) {
  .hero__title {
    font-size: 22px;
  }
}
