.events {
  background-color: var(--color-bg-light);
  box-sizing: border-box;
  padding: var(--padding-vertical) var(--padding-horisontal);
  position: relative;
  background-image:
    url("/images/decor/events/donut.svg"),
    url("/images/decor/events/kettlebell.svg"),
    url("/images/decor/events/donut-right.svg");
  background-size:
    132px 132px,
    79px 78px,
    65px 132px;
  background-position:
    -10px 35%,
    0 100%,
    100% 101%;
  background-repeat: no-repeat, no-repeat;
}
.events__title {
  font-family: Russo One;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
}
.events__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 20px;
}
@media (max-width: 1024px) {
  .events__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .events__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .events__container {
    grid-template-columns: 1fr;
  }
  .events {
    background-position:
      -10px 35%,
      -20px 102%,
      100% 101%;
  }
}
