.card {
  background-color: var(--color-lightest);
  border-radius: 20px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__date {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-lightest);
  padding: 1px 6px;
  border-radius: 20px;
  font-family: Tilda Sans;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}
.card__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 20px;
}
.card__content {
  padding: 0 14px 1rem;
  color: var(--color-darkest);
  line-height: 130%;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-family: Tilda Sans;
  font-size: 20px;
  font-weight: 700;
  margin: 0.5rem 0;
  flex-grow: 1;
  min-height: 2.625rem;
}
.card__description {
  font-family: Tilda Sans VF;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0 1 rem;
  max-width: 95%;
}
.card__cta {
  justify-self: flex-end;
}
.trankate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 576px) {
  .card__title {
    min-height: unset;
  }
}
